<hello name="{{ name }}"></hello>
<full-calendar 
  defaultView="resourceTimeline"
  [timeZone]="timeZone"
  [header]="header"
  [aspectRatio]="aspectRatio"
  [locale]="locale"
  [editable]="editable"
  [events]="dataEvents"
  [slotLabelFormat] ="slotLabelFormat"
  [resourceColumns]="resourceColumns"
  [resources]="ressources"
  [resourceLabelText]="'FFF'"
  [visibleRange]="visibleRange"
  [views]="views"
  [slotDuration]="slotDuration"
  [plugins]="calendarPlugins"
  (eventRender)="eventRender($event)"
  (eventClick)="eventClick($event)"
  [weekends]= "true"
  (dateClick)="handleDateClick($event)"
  (dayRender)="dayRender($event)"
>
</full-calendar>

<ng-template class="mmm" #popoverElementRef></ng-template>

