p {
  font-family: Lato;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.fc-holiday {
  background-color: #aaacef;
}

.event-tooltip {
  z-index: 1;
  background-color: chartreuse;
  border-radius: 13px;
}
    